  .NavBar{
    color: white;
    display: flex;
    background: none;
  }
  
  .logo{
    Position: relative;
    top: 30px;
    left: 100px;
    font-family: 'Grand Hotel';
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    color: white;
    text-decoration: none;
  }
  
  .Navbar-items{
    padding-top: 30px;
    background: none;
  }

  a {
    color: white;
    text-decoration: none;
    background: none;
  }

  a.active {
    color: white;
    background: none;
    font-weight: bolder;
    font-style: italic;
  }

  a.inactive {
    background: none;
  }

  
  .Navbar-items span{
    padding-left: 40px;
    position: relative;
    left: 130px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: white;
    background: none;
  }
  
  .Navbar-items span:hover{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    background: none;
  }