.welcome-text{
  color: white;
  position: absolute;
  top: 43%;
  background: none;
  animation-name: slide-down-desktop; /* Actual Animation call */
  animation-duration: 2s;
  transition: ease-in-out;
}

.welcome-text span{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  background: transparent;
  animation-name: slide-down-desktop;
  animation-duration: 3s;
  transition: ease-in-out;
}

@keyframes slide-down-desktop{

  0%   {
    top: -20%;
  }
  25%  {
    display: none;
  }
  50%  {
    display: none;
  }
  100% {
    display: flex;
    top: 43%;
  }
}

@keyframes tablet{}

@keyframes mobile{}